# Exercise 2

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset with name 'wc2018-players'

### Step 3. Assign it to a variable called wc18.

In [2]:
wc18= pd.read_csv('wc2018-players.csv')
wc18

,Team,#,Pos.,FIFA Popular Name,Birth Date,Shirt Name,Club,Height,Weight
0,Argentina,3,DF,TAGLIAFICO Nicolas,31.08.1992,TAGLIAFICO,AFC Ajax (NED),169,65
1,Argentina,22,MF,PAVON Cristian,21.01.1996,PAVÓN,CA Boca Juniors (ARG),169,65
2,Argentina,15,MF,LANZINI Manuel,15.02.1993,LANZINI,West Ham United FC (ENG),167,66
3,Argentina,18,DF,SALVIO Eduardo,13.07.1990,SALVIO,SL Benfica (POR),167,69
4,Argentina,10,FW,MESSI Lionel,24.06.1987,MESSI,FC Barcelona (ESP),170,72
...,...,...,...,...,...,...,...,...,...
731,Uruguay,15,MF,VECINO Matias,24.08.1991,VECINO,FC Internazionale (ITA),189,80
732,Uruguay,23,GK,SILVA Martin,25.03.1983,M. SILVA,CR Vasco da Gama (BRA),187,82
733,Uruguay,9,FW,SUAREZ Luis,24.01.1987,SUAREZ,FC Barcelona (ESP),182,85
734,Uruguay,18,FW,GOMEZ Maximiliano,14.08.1996,M. GOMEZ,Celta Vigo (ESP),186,85
735,Uruguay,19,DF,COATES Sebastian,07.10.1990,COATES,Sporting CP (POR),196,89

### Step 4. Select only the Height column.

In [3]:
wc18.Height

0      169
1      169
2      167
3      167
4      170
      ...
731    189
732    187
733    182
734    186
735    196
Name: Height, Length: 736, dtype: int64

### Step 5. How many players participated in the World Cup 2018?

In [4]:
wc18.shape[0]

736

### Step 6. What is the number of columns in the dataset?

In [5]:
wc18.shape[1]

9

In [6]:
wc18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 736 entries, 0 to 735
Data columns (total 9 columns):
Team                 736 non-null object
#                    736 non-null int64
Pos.                 736 non-null object
FIFA Popular Name    736 non-null object
Birth Date           736 non-null object
Shirt Name           736 non-null object
Club                 736 non-null object
Height               736 non-null int64
Weight               736 non-null int64
dtypes: int64(3), object(6)
memory usage: 51.9+ KB

### Step 7. View only the columns Club and Team assign them to a dataframe called discipline

In [7]:
discipline = wc18[['Club', 'Team']]
discipline

                         Club       Team
0              AFC Ajax (NED)  Argentina
1       CA Boca Juniors (ARG)  Argentina
2    West Ham United FC (ENG)  Argentina
3            SL Benfica (POR)  Argentina
4          FC Barcelona (ESP)  Argentina
..                        ...        ...
731   FC Internazionale (ITA)    Uruguay
732    CR Vasco da Gama (BRA)    Uruguay
733        FC Barcelona (ESP)    Uruguay
734          Celta Vigo (ESP)    Uruguay
735         Sporting CP (POR)    Uruguay

[736 rows x 2 columns]

### Step 8. Sort the teams by Club, then to Team

In [8]:
discipline.sort_values(['Club', 'Team'], ascending = True)

                          Club       Team
258           1. FC Köln (GER)    Germany
330           1. FC Köln (GER)      Japan
108    AC Deportivo Cali (COL)   Colombia
113    AC Deportivo Cali (COL)   Colombia
6               AC Milan (ITA)  Argentina
..                         ...        ...
184              Zamalek (EGY)      Egypt
188              Zamalek (EGY)      Egypt
703              Zamalek (EGY)    Tunisia
320  Zob Ahan Isfahan FC (IRN)    IR Iran
707      Étoile du Sahel (TUN)    Tunisia

[736 rows x 2 columns]

### Step 9. Calculate the mean weight

In [9]:
wc18['Weight'].mean()

77.18885869565217

### Step 10. Filter Players, those height is over 195

In [10]:
wc18[wc18.Height > 195]

,Team,#,Pos.,FIFA Popular Name,Birth Date,Shirt Name,Club,Height,Weight
20,Argentina,6,DF,FAZIO Federico,17.03.1987,FAZIO,AS Roma (ITA),199,85
64,Belgium,13,GK,CASTEELS Koen,25.06.1992,CASTEELS,VfL Wolfsburg (GER),197,86
67,Belgium,1,GK,COURTOIS Thibaut,11.05.1992,COURTOIS,Chelsea FC (ENG),199,91
137,Costa Rica,19,DF,WASTON Kendall,01.01.1988,K. WASTON,Vancouver Whitecaps FC (CAN),196,87
160,Croatia,12,GK,KALINIC Lovre,03.04.1990,L. KALINIĆ,KAA Gent (BEL),201,96
183,Denmark,3,DF,VESTERGAARD Jannik,03.08.1992,VESTERGAARD,VfL Borussia Mönchengladbach (GER),200,98
227,England,13,GK,BUTLAND Jack,10.03.1993,BUTLAND,Stoke City FC (ENG),196,96
248,France,15,MF,NZONZI Steven,15.12.1988,NZONZI,Sevilla FC (ESP),197,87
298,Iceland,12,GK,SCHRAM Frederik,19.01.1995,SCHRAM,Roskilde BK (DEN),198,92
367,Korea Republic,9,FW,KIM Shinwook,14.04.1988,S W KIM,Jeonbuk Hyundai (KOR),197,97
433,Nigeria,13,FW,NWANKWO Simeon,07.05.1992,NWANKWO,FC Crotone (ITA),197,89
435,Nigeria,23,GK,UZOHO Francis,28.10.1998,UZOHO,Deportivo La Coruña (ESP),196,91
454,Panama,22,GK,RODRIGUEZ Alex,05.08.1990,RODRIGUEZ,San Francisco FC (PAN),197,83
551,Russia,22,FW,DZYUBA Artem,22.08.1988,DZYUBA,FC Arsenal Tula (RUS),196,90
592,Senegal,23,GK,GOMIS Alfred,05.09.1993,GOMIS,SPAL Ferrara (ITA),196,80
594,Senegal,6,MF,SANE Salif,25.08.1990,S. SANE,Hannover 96 (GER),196,84
665,Sweden,1,GK,OLSEN Robin,08.01.1990,OLSEN,FC Kobenhavn (DEN),198,89
735,Uruguay,19,DF,COATES Sebastian,07.10.1990,COATES,Sporting CP (POR),196,89

### Step 11. Select the teams from 555 row to 566

In [11]:
wc18[555:566]

,Team,#,Pos.,FIFA Popular Name,Birth Date,Shirt Name,Club,Height,Weight
555,Saudi Arabia,13,DF,YASIR ALSHAHRANI,25.05.1992,YASIR,Al Hilal SFC (KSA),170,63
556,Saudi Arabia,19,FW,FAHAD ALMUWALLAD,14.09.1994,FAHAD,Levante UD (ESP),168,65
557,Saudi Arabia,9,MF,HATAN BAHBIR,16.07.1992,HATAN,Al Shabab FC (KSA),170,66
558,Saudi Arabia,14,MF,ABDULLAH OTAYF,03.08.1992,OTAYF,Al Hilal SFC (KSA),177,66
559,Saudi Arabia,15,MF,ABDULLAH ALKHAIBARI,16.08.1996,ALKHAIBARI,Al Shabab FC (KSA),175,66
560,Saudi Arabia,2,DF,MANSOUR ALHARBI,19.10.1987,MANSOUR,Al Ahli SC (KSA),173,68
561,Saudi Arabia,18,MF,SALEM ALDAWSARI,19.08.1991,SALEM,Villarreal CF (ESP),174,68
562,Saudi Arabia,17,MF,TAISEER ALJASSAM,25.07.1984,TAISEER,Al Ahli SC (KSA),169,69
563,Saudi Arabia,11,MF,ABDULMALEK ALKHAIBRI,13.03.1986,ABDULMALEK,Al Hilal SFC (KSA),177,73
564,Saudi Arabia,12,MF,MOHAMED KANNO,22.09.1994,KANNO,Al Hilal SFC (KSA),192,73
565,Saudi Arabia,10,FW,MOHAMMED ALSAHLAWI,10.01.1987,ALSAHLAWI,Al Nassr FC (KSA),179,75

### Step 12. Select the first 2 columns

In [12]:
wc18.iloc[:, 0:2]

          Team   #
0    Argentina   3
1    Argentina  22
2    Argentina  15
3    Argentina  18
4    Argentina  10
..         ...  ..
731    Uruguay  15
732    Uruguay  23
733    Uruguay   9
734    Uruguay  18
735    Uruguay  19

[736 rows x 2 columns]